<h1>New Owner Reports</h1>

<%= form_for :report, url: reports_create_path do |f| %>

  <%= f.select(
      :owner_id,
      options_from_collection_for_select(
        Owner.all,
        :id,
        :name
      )
  ) %>
  <%= f.submit "Save / Update" %>

<% end %>
